/* index.css */

/* Ensure Tailwind is imported */
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 10px 30px;
}

.slick-dots li button:before {
    color: #000; 
}
  
.slick-dots li.slick-active button:before {
    color: #FFA75C; 
}

.animate-fade-in-up {
    animation: fade-in-right 1s ease-out forwards;
    animation-delay: 0.1s;
    opacity: 0; 
}

@keyframes fade-in-right {
    0% {
        transform: translateX(100%); 
        opacity: 0; /* Start fully transparent */
    }
    100% {
        transform: translateX(0);
        opacity: 1; /* End fully visible */
    }
}

.navbar {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Always apply the blurred background */
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition:  0.3s ease, backdrop-filter 0.3s ease;
}

