@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-slide > div {
    margin: 10px 30px;


.slick-dots li button:before {
    color: #000; 
}
  
.slick-dots li.slick-active button:before {
    color: #FFA75C; 
    
}
}
@keyframes fade-in-up {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out forwards;
  }
  

